:root {
    --primary-light-red: hsl(0, 36%, 70%);
    --primary-red: hsl(0, 93%, 68%);
    --primary-white: #FFF9F9;
    --neutral-gray:hsl(0, 6%, 24%);

    --ff-serif-primary: 'Josefin Sans', sans-serif;

    --fs--primary: 1rem;
    --fs--heading: 2.2rem;
 
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-serif-primary);
    line-height: 1.6;
}

h1,
h2 {
    letter-spacing: .5em;
    text-transform: uppercase;
    width: 80%;
    margin: 0 auto;
    font-size: var(--fs--heading);
    font-weight: 600;
}

ul,
li {
    list-style: none;
}

p {
    color: var(--primary-light-red);
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
/* ----- */

header {
    display: flex;
}

.hero_img_desktop {
    display: none;
}

.hero_img_mobile {
    background-image: url(/images/hero-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.hero {
    text-align: center;
    padding: 3em 1em;
}

.logo_icon {
    position: relative;
    margin: 1em;
}

.accent {
    color: var(--primary-light-red);
    font-weight: 300;
}

.hero_main_text {
    padding: 2em 0;
}

/* Email input form */

#user-email {
    padding: 1.3em 5em;
    border-radius: 25px;
    border: 1px solid var(--primary-light-red);
}

input:required {
    border: 2px solid red;
}

#user-email:focus {
    border: 3px solid var(--primary-light-red);
    outline: none;
}

::placeholder {
    color: var(--primary-light-red);
}

button {
    background: var(--primary-light-red);
    border-radius: 40%;
    border: none;
    padding: 1em 1.5em;
}

/* Footer */

.footer {
    padding: 3em 1em;
    margin: 0 auto;
    width: 90%;
}
.footer-items {
    
    display: flex;
    justify-content: space-between;
}

p.footer-text {
    align-items: center;
}

.footer-icon {
    color: var(--primary-light-red);
}

.footer_list {
    display: flex;
}

li.footer__link {
    padding: 0 .4em;
}



@media(min-width:600px) and (max-width: 765px){

    .hero_img_mobile {
        display: none;
    }

    .hero_img_desktop {
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }

    .logo_icon {
        position: relative;
        margin: 2em;
    }

    h1 {
        font-size: 5rem;
        text-align: center;
        margin: 0 auto;
        width: 90%;
    }

    .hero_main_text {
        text-align: center;
        margin: 0 auto;
        width: 50%; 
    }

    .bg-pattern {
        background: url(/images/bg-pattern-desktop.svg);
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left:0;
    }
    
}

@media(min-width: 766px){

  .hero_img_mobile {
      display: none;
  }
  
  .wrapper {
      display: flex;
  }

  .hero {
    padding: unset;
    display: flex;
    flex-direction: row-reverse;
  }

  .hero_img_desktop {
    display: block; 
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh; 
  }

  .hero_text {
      
      align-content: center;
      margin-top: 10em;
      margin-right: 50em;
      width: 30%;
  }
  
}

